<div class="container">

  <h1> PAGES - Index </h1>

  <table class="table">
      <tr>
        <th>Page title</th>
        <th>Page url</th>

        <!-- <th>Page category</th> -->
      </tr>

    <% @pages.each do |page| %>
      <tr>
        <td>
          <%= image_tag page.image[2] %>
          <%= link_to page.title,  page_path(page) %>

        </td>
        <td><%= link_to page.url, page.url %></td>
        <td>
          <%=link_to "Edit page", edit_page_path(page), class: "btn btn-info" %>
          <%=link_to "Delete", page, method: :delete, data: {confirm: "Are you sure you want to deletE?"}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>






</div>
