<div class="container">

  <h1> Sites - Index </h1>
  <p>
    <%= link_to "Add new site", new_site_path, class: "btn btn-success" %>
  </p>

  <table class="table">
      <tr>
        <th>Site name</th>
        <th>Site url</th>
        <th>Site category</th>
      </tr>

    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.url %></td>
        <td><%= site.category %></td>
        <td>
          <%=link_to "Edit site", edit_site_path(site), class: "btn btn-info" %>
          <%=link_to "Delete", site, method: :delete, data: {confirm: "Are you sure you want to deletE?"}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>






</div>
