<div class="container">

  <h1><%= @site.name %></h1>
  <h4><%= link_to @site.url, @site.url %></h4>

  <%= link_to "Scrape #{@site.name}", scrape_path, class: "btn btn-default" %>


  <%= link_to "Back to Sites homepage", sites_path, class: "btn btn-default" %>
  <%= link_to "Edit Site", edit_site_path, class: "btn btn-default" %>

</div>
